<!-- <div class="max-w-screen-xl mx-auto mt-32 px-10 py-4 bg-white rounded-lg shadow-md w-full">
    <div class="flex flex-col items-center justify-center py-12 w-full"></div>
        <mat-icon class="icon-display mb-8">shopping_cart</mat-icon>
        <p class="text-gray-600 text-lg font-semibold mb-4">
            Your shopping cart is empty
        </p>
        <button mat-flat-button routerLink="/shop">Go shopping!</button>
</div> -->

<!-- Container chính -->
<div class="flex items-center justify-center min-h-[calc(100vh-80px)]">
    <!-- Khối nội dung empty state -->
    <div class="max-w-screen-md mx-auto px-10 py-12 bg-white rounded-lg shadow-md w-full text-center">
      <mat-icon class="icon-display mb-8">shopping_cart</mat-icon>
  
      <p class="text-gray-600 text-lg font-semibold mb-4">
        Your shopping cart is empty
      </p>
  
      <button mat-flat-button color="primary" routerLink="/shop">
        Go shopping!
      </button>
    </div>
  </div>
  